.App {
  text-align: center;
}

.botao {
  position: absolute;
  /* background-color: green; */
  /* color: white; */
  /* padding: 0.4rem 1rem; */
  right: 20.7rem;
  bottom: 2.8rem;
  /* cursor: pointer; */
  /* text-decoration: none; */
  /* box-shadow: 2px 2px 2px black; */
}

.App-logo {
  height: 35rem;
  margin-top: 2rem;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
